<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>applicationName</param-name>
    <param-value>COHORT 12</param-value>
  </context-param>

  <listener>
    <listener-class>app.AppContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>app.AppSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>app.AppRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>app.AppAttributeListener</listener-class>
  </listener>
</web-app>

<!--<web-app>-->
<!--<display-name>Cohort 12 Integrated Portal</display-name>-->

<!--<context-param>-->
<!--  <param-name>applicationName</param-name>-->
<!--  <param-value>COHORT 12 HRMS</param-value>-->
<!--</context-param>-->

<!--<servlet>-->
<!--  <servlet-name>Login</servlet-name>-->
<!--  <servlet-class>app.LoginPage</servlet-class>-->
<!--  <init-param>-->
<!--    <param-name>username</param-name>-->
<!--    <param-value>admin</param-value>-->
<!--  </init-param>-->
<!--  <init-param>-->
<!--    <param-name>password</param-name>-->
<!--    <param-value>12345</param-value>-->
<!--  </init-param>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--  <servlet-name>Login</servlet-name>-->
<!--  <url-pattern>/login</url-pattern>-->
<!--</servlet-mapping>-->

<!--<servlet>-->
<!--  <servlet-name>LeaveHome</servlet-name>-->
<!--  <servlet-class>app.LeaveHome</servlet-class>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--  <servlet-name>LeaveHome</servlet-name>-->
<!--  <url-pattern>/</url-pattern>-->
<!--</servlet-mapping>-->

<!--<servlet>-->
<!--  <servlet-name>LeavePolicy</servlet-name>-->
<!--  <servlet-class>app.LeavePolicy</servlet-class>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--  <servlet-name>LeavePolicy</servlet-name>-->
<!--  <url-pattern>/policy</url-pattern>-->
<!--</servlet-mapping>-->

<!--<servlet>-->
<!--  <servlet-name>LeaveApply</servlet-name>-->
<!--  <servlet-class>app.LeaveApplyServlet</servlet-class>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--  <servlet-name>LeaveApply</servlet-name>-->
<!--  <url-pattern>/apply</url-pattern>-->
<!--</servlet-mapping>-->

<!--</web-app>-->
